@import url("https://fonts.googleapis.com/css2?family=Alata&family=Chivo&family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input {
  @apply w-[370px] rounded-[5px] border-b-verde border-b-[3px] font-alata text-[24px] px-4 h-16 focus:outline-none;
}

.linhas {
  @apply py-5 min-h-full flex items-center justify-center p-2 border-2 border-verde rounded-md font-montserrat text-[16px] focus:outline-none;
}

.botao {
  @apply bg-verde rounded-full w-6 h-6 flex items-center justify-center border-2 border-branco;
}

.relatorio {
  @apply bg-verde text-branco rounded-md;
}

.titulo {
  @apply w-full p-6 bg-verde text-branco flex justify-between items-center rounded-md text-[24px] min-h-[80px] font-alata;
}

.tag {
  @apply bg-verde px-[5px] h-28 rounded-tl-2xl flex items-center justify-center text-branco font-montserrat text-[12px];
}

.girado{
  @apply -rotate-90 w-5 leading-3 flex justify-center;
  }

  .tabela{
    @apply flex flex-col gap-1 w-full p-6 rounded-md shadow-10b bg-branco h-min max-h-[75vh] overflow-y-clip;
}
.scroll{
  @apply overflow-y-auto
}